<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- add an Azure Artifacts feed -->
    <add key="HalcyonSoft" value="https://pkgs.dev.azure.com/HalcyonSoft/Software/_packaging/HalcyonSoft/nuget/v3/index.json" />
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
    <packageSourceCredentials>
    <HalcyonSoft>
      <add key="Username" value="aaron.karr11@gmail.com" />      
      <add key="ClearTextPassword" value="zixuheeziot4rnnwhbndrduluyfdzsgnnhqpn5l7i5baotehc3yq" />
    </HalcyonSoft>
  </packageSourceCredentials>
</configuration>
